doctype html
html
    head
        style
            include style.css
        block title
    body 
        div(class="container")
            h1(class="u_text-center u_mb-m") API Project: #{project}
            h2(class="u_text-center u_mb-s") Usage:
            block usage 
